@import url('https://fonts.googleapis.com/css?family=Acme|Josefin+Sans');

body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: #337a7d;
}

main {
    background-color: white;
    padding: 10px 10px;
    margin: 0 100px;
}

p {
    text-align: center;
}

header {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
}

.scoreboard span {
    margin: 0 10px;
}

.win {
    color: green;
}

.loss {
    color: maroon;
}

/* Change margin dimensions when screen is greater than 800px */
@media only screen and (min-width: 800px) {
    main {
        margin: 0 300px;
    }
} 